<nav>
    <div class="nav-wrapper  blue darken-4">
      <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
      <ul class="right hide-on-med-and-down">
     
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a [routerLink]="'procure'"><i class="material-icons">จัดซื้อจัดจ้าง</i></a></li>
        <li><a [routerLink]="'procure/laboffice'"><i class="material-icons">Office</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
<div class="container-fluid" id="main">
Welcome, {{userService.userName}}
  <router-outlet></router-outlet>

</div>
<!--/.container-->

   <div class="footer-copyright">
            <div class="container">
            © new to have d ate time valid
            ok thevanosh go there
            offcourse
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>


   
 