<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<p-dataTable [value]="models" >
    <p-header ><span class="secondary-text-color">รายการจัดซื้อจัดจ้าง</span>
       <a (click)="getAddNew()" style="margin-button:5px" class="btn-floating btn-large left waves-effect waves-light blue"><i class="material-icons">add</i></a>
    </p-header>
    <p-footer>Choose from the list.</p-footer>
    <p-column  header="ลำดับ">
   
    <ng-template  let-rowIndex="rowIndex" let-col let-car="rowData" pTemplate="body">
            <span >{{rowIndex+1}}</span>
        </ng-template>
    </p-column>
    <p-column field="dateprocure" header="วันที่จัดจ้าง">
      <ng-template let-col let-car="rowData" pTemplate="body">
            <span >{{car[col.field]}}</span>
        </ng-template>
    </p-column>
    <p-column field="officename" header="ชื่อบริษัท">
    <ng-template let-col let-car="rowData" pTemplate="body">
            <span >{{car[col.field]}}</span>
        </ng-template></p-column>
    <p-column field="amount" header="จำนวนเงิน"></p-column>
     

    <p-column styleClass="col-button">
        <ng-template pTemplate="header">
            <button type="button" pButton icon="fa-refresh"></button>
        </ng-template>
        <ng-template let-myhos="rowData" pTemplate="body">
         <a class="btn-floating btn-small red" (click)="selectItem(myhos)" >
      <i class="large material-icons">mode_edit</i>
    </a>
            
        </ng-template>
    </p-column>

    <p-column styleClass="col-button" [style]="{'width':'60px'}">
    <ng-template pTemplate="header">
      ลบ
    </ng-template>
    <ng-template let-r="rowData" pTemplate="body">
   <a class="btn-floating btn-small red"  (click)="confirmDelete(r)"> <i class="material-icons">delete_forever</i></a>
    
    </ng-template>
  </p-column>
</p-dataTable>


<p-dialog header="รายการจัดซื้อจัดจ้าง" [(visible)]="display" modal="modal" width="600" responsive="true">
 <app-labprocure-add [model1]="model"  (doUpdate)="getUpdate($event)" ></app-labprocure-add>
</p-dialog>

OPTIONS
<repository>
The "remote" repository that is destination of a push operation. This parameter can be either a URL (see the section GIT URLS below) or the name of a remote (see the section REMOTES below).

<refspec>…​
Specify what destination ref to update with what source object. The format of a <refspec> parameter is an optional plus +, followed by the source object <src>, followed by a colon :, followed by the destination ref <dst>.

The <src> is often the name of the branch you would want to push, but it can be any arbitrary "SHA-1 expression", such as master~4 or HEAD (see gitrevisions[7]).

The <dst> tells which ref on the remote side is updated with this push. Arbitrary expressions cannot be used here, an actual ref must be named. If git push [<repository>] without any <refspec> argument is set to update some ref at the destination with <src> with remote.<repository>.push configuration variable, :<dst> part can be omitted—​such a push will update a ref that <src> normally updates without any <refspec> on the command line. Otherwise, missing :<dst> means to update the same ref as the <src>.

The object referenced by <src> is used to update tqqq